@media (min-width:320px) and (max-width:575.99px){
    .nav-link {
        text-align: center;
        background: #F68500;
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
        border-radius: 6px;
    }

    .nav-link:hover{
        color: #00433E;
    }

    #navbarSupportedContent{
        margin-top: 20px;
        
    }

    #navbarSupportedContent .button{
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .navbar .container{
        padding: 0 20px;
        
    }

   


    /* banner section start here */
    .banner{
        padding: 58px 0;
            
        }

    .banner h1{
       font-size: 30px;
       line-height: 40px;
       width: 100%;
       
    }

    .banner p {
        font-size: 18px;
        width: 100%;
        line-height: 40px;
        padding-right: 45px;
        
    }


    .banner .overlay{
        width:0;
        
        }
    
    


    
    /* banner section end here */


    /* card section start here */
    .card_section{
        padding-top: 80px;
        padding-bottom: 0;
    }

    .card {
        margin-bottom: 20px;
    }
    .title h2 {
     
        font-size: 30px;
        width: 100%;
        
    }

    .title h4::after {
        left: 22%;
        
    }

    .title h4::before {
        top: -11%;
        left: 30%;
        
    }

   
    /* card section end here */
}


@media (min-width:576px) and (max-width:767.99px){
    .nav-link {
        text-align: center;
        background: #F68500;
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
        border-radius: 6px;
        
    }

    .nav-link:hover{
        color: #00433E;
    }

    #navbarSupportedContent{
        margin-top: 20px;
        
    }

    #navbarSupportedContent .button{
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .navbar .container{
        max-width: 100%;
        padding: 0 20px;
    }


    /* banner section start here */
    .banner{
        padding: 58px 0;
            
        }

    .banner h1{
        font-size: 54px;
        line-height: 66px;
        width: 100%;
        
     }
 
     .banner p {
         font-size: 24px;
         width: 100%;
         line-height: 40px;
         padding-right: 45px;
         
     }

     .banner .container{
        max-width: 100%;
        
    }

    .banner .overlay{
        width:0;
        
        }
    
    

 
 
     
     /* banner section end here */

     /* card section start here */
    .card_section{
        padding-top: 80px;
        padding-bottom: 0;
    }

    .card {
        margin-bottom: 20px;
    }
    .title h2 {
     
        font-size: 48px;
        width: 100%;
        
    }

    .title h4::after {
        left: 22%;
        
    }

    .title h4::before {
        top: -11%;
        left: 30%;
        
    }

   
    /* card section end here */
}

@media (min-width:768px) and (max-width:991.99px){
    .nav-link {
        text-align: center;
        background: #396B69;
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
        border-radius: 6px;
        }


        .nav-link:hover{
            color: #F08508;
        }
    
        #navbarSupportedContent{
            margin-top: 20px;
            
        }
    
        #navbarSupportedContent .button{
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }
    
        .navbar .container{
            max-width: 100%;
            padding: 0 20px;
        }

        /* banner section start here */
    .banner{
        padding: 58px 30px;
            
        }

    .banner h1{
        font-size: 70px;
        line-height: 88px;
        width: 100%;
        
     }
 
     .banner p {
         font-size: 22px;
         width: 100%;
         line-height: 40px;
         padding-right: 45px;
         
     }

     .banner .container{
        max-width: 100%;
        
    }

    .banner .overlay{
        width:0;
        
        }
    
    /* banner section end here */

     /* card section start here */
     .card_section{
        padding-top: 80px;
        padding-bottom: 0;
    }

    .card {
        margin-bottom: 20px;
    }
    .title h2 {
     
        font-size: 65px;
        width: 100%;
        
    }

    .title h4::after {
        left: 31%;
        
    }

    .title h4::before {
        top: -11%;
        left: 37%;
        
    }

   
    /* card section end here */
}

@media (min-width:992px) and (max-width:1199.99px){
/* bannar section start here */
.banner{
    padding: 58px 30px;
        
    }

.banner h1{
    font-size: 90px;
    line-height: 116px;
    width: 100%;
    
 }

 .banner p {
    font-size: 24px;
    width: 100%;
    }

 .banner .container{
    max-width: 100%;
    
}

.banner .overlay{
    width:0;
    
    }




/* banner section end here */

 /* card section start here */
 .card_section{
    padding-top: 80px;
    padding-bottom: 0;
}

.card {
    margin-bottom: 20px;
}
.title h2 {
 
    font-size: 80px;
    width: 100%;
    
}

.title h4::after {
    left: 36%;
    
}

.title h4::before {
    top: -11%;
    left: 40%;
    
}


/* card section end here */
}


@media (min-width:1200px) and (max-width:1399.99px){
/* banner section start here */
.banner .container{
    max-width: 100%;
    
}

.banner{
    padding: 58px 30px;
        
    }

    .banner h1{
        font-size: 90px;
        line-height: 116px;
        width: 100%;
        
     }
    
     .banner p {
        font-size: 30px;
        width: 100%;
        }
/* banner section end here */

/* card section start here */
.card_section{
    padding-top: 80px;
    padding-bottom: 0;
}

.card {
    margin-bottom: 20px;
}
.title h2 {
 
    font-size: 84px;
    width: 100%;
    
}

.title h4::after {
    left: 36%;
    
}

.title h4::before {
    top: -11%;
    left: 40%;
    
}


/* card section end here */
}


/* @media (min-width:1400px) and (max-width:1699.99px){
   
    .banner .container{
        max-width: 100%;
        
    }
    
    .banner{
        padding: 58px 30px;
            
        }

        .banner .overlay{
            right: 0;
            
            }
        
        .banner:hover .overlay{
            right: 0;
        } 
    
    } */

