
/* =====================================================
common section start here
======================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ol,ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

.box{
    display: flex;
}
.common-btn{
   width: 190px;
   height: 70px;
   background: #E5745D;
   display: flex;
   justify-content: center;
   align-items: center;
}

.common-btn a{
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.common-btn a::after {
	width: 174px;
	height: 57px;
	border: 2px solid #FFFFFF;
	position: absolute;
	top: -15px;
	left: -58px;
	content: "";
}


.title h4{
    color: #E5745D;
    font-family: "Vollkorn", serif;
    font-size:18px ;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.title h4::after {
	width: 45px;
	height: 2px;
	background: #E5745D;
	position: absolute;
	top: 6px;
	left: 39%;
	content: "";
}

.title h4::before {
	width: 20px;
	height: 20px;
	background: #E5745D;
	border-radius: 50%;
	position: absolute;
	top: -3%;
	left: 42%;
	content: "";
}
.title h2{
    color: #00413D;
    font-family: "Vollkorn", serif;
    font-size:50px ;
    font-weight: 600;
    width: 531px;
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
    
}




/* =====================================================
common sectin end here
======================================================== */




/* =====================================================
header section start here
======================================================== */

.navbar {
    background: #FFFFFF;
    padding: 26px 0;
}


.button a{
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    background: #E5745D;
    padding: 21px 40px;
    position: relative;
    }

    .button a::after{
        width: 174px;
        height: 57px;
        border: 2px solid #FFFFFF;
        position: absolute;
        top: 5px;
        left: 8px;
        content: "";
    }

    .navbar-nav {
        gap:0 48px
    }

    .nav-link{
        font-family: "Jost", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #00413D;
        padding-left: 0 !important;
        padding-right: 0 !important;
        
        
    }

    .nav-link:hover{
        color: #E5745D;
    }


/* =====================================================
header section end here
======================================================== */


/* =====================================================
banner section start here
======================================================== */

.banner{
    width: 100%;
    padding: 221px 0;
    background: #00413D;
    position: relative;
    overflow: hidden;
    cursor: pointer;
   
}

.banner .overlay{
    width: 46%;
    height: 100%;
    background: gray;
    position: absolute;
    top: 0;
    right: -46%;
    transition: 0.5s;
    background-image: url(../image/ramjan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    
}

.banner:hover .overlay{
    right: 0;
}

.banner h1{
    font-family: "Vollkorn", serif;
    font-size: 100px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.banner h1 span{
    display: block;
}


.banner p{
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255,0.5);
    width: 670px;
    padding-top: 14px;
    padding-bottom: 50px;
    line-height: 40px;
}

.banner p span{
    color: #FFFFFF;
}



/* =====================================================
banner section end here
======================================================== */



/* =====================================================
card section start here
======================================================== */
.card_section{
    padding-top: 220px;
    padding-bottom: 120px;
}

.card_section .title h4{
    margin-bottom: 11px;
}


.card_section .title h2{
    margin-bottom: 40px;
}


.card{
    width: 100%;
    height: 400px;
    border: 0;
    box-shadow: 0px 3px 4px   rgba(0,0,0,0.3);
}

.card-img-top{
    width: 30%;
    padding-top: 50px;
    padding-left: 35px;
    margin-bottom: 26px;
}

.card-body{
    padding: 0;
    padding-left: 35px;
    
}

.card-body i{
    color: #00413D;
    cursor: pointer;
    }

.card-body i:hover{
    color: #E5745D;
}

.card-title{
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: 900;
    color: #00413D;
    margin-bottom: 15px;
}

.card-text{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    width: 245px;
    margin-bottom: 30px;
}
/* =====================================================
card section end here
======================================================== */


/* =====================================================
about section start here
======================================================== */
.about{
    padding: 80px 0;
}
.about .box{
    display: flex;
    gap:0px 20px
}

.about .box .image_num1 img{
    width: 370px;
    height: 480px;
    object-fit: cover;
    
}


.two-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.about .box .two-image .image_num2 img{
width:170px ;
height:225px ;
object-fit: cover;
}

.about .box .two-image .image_num3 img{
    width:170px ;
    height:225px ;
    object-fit: cover;
}


.about .title h4{
    text-align: start;
    margin-top: 30px;
    padding-left: 80px;
}

.about .title h4::after {
	top: 10px;
	left: 1%;
	
}

.about .title h4::before {
	top: 2%;
	left: 8%;
	
}

.about .title h2{
   width: 644px;
   text-align: start;
   margin-top: 14px;
   
}

.about p{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    
}

.about .common-btn{
    margin-top: 50px;
}

.about .common-btn a::after {
	left: -34px;

    
	
}



/* =====================================================
about section end here
======================================================== */


/* =====================================================
progressbar section start here
======================================================== */
.progressbar{
    padding-top: 80px;
    padding-bottom: 120px;
}
.progressbar .progress_box{
    width:100%;
    height:282px;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    border: none;
}

.progressbar .progress{
    width: 167px;
    height: 167px;
    border:8px solid #E5745D;
    border-radius: 50%;
    background: white;
}

.progressbar .progress{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar .progress h2{
    font-family: "Vollkorn", serif;
    font-size: 34px;
    font-weight: 600;
    color: #E5745D;
}




.progressbar .progress_box h4 {
	font-family: "Vollkorn", serif;
    font-size: 26px;
    font-weight: 600;
    color: #00413D;
}

/* =====================================================
progressbar section end here
======================================================== */


/* =====================================================
recent project section start here
======================================================== */


.recent_project .common-btn a::after {
	
	left: -33px;
	
}

.recent_project .common-btn{
    margin: 0 auto;
    margin-bottom: 120px;
}



.recent_project .title h4{
    text-align: left;
    padding:0 74px;
}

.recent_project .title h4::before {
	left:3%;
	
}

.recent_project .title h4::after {
	
	left: 0;
	
}

.recent_project .title h2 {
	
	margin: 0; 
	text-align: left; 
}


.recent_project .row .card{
    width: 100%;
    height: 540px;
    margin-top: 40px;
    margin-bottom: 60px;
    border: none !important;
    background: white;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.3) !important;
    
}

.recent_project .card .card_image01 img{
    width:100%;
    height:270px ;
}


.recent_project .card-body .card-title{
    font-family: "Vollkorn", serif;
    font-size: 16px;
    font-weight: 500;
    color: #E5745D;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recent_project .card-body h2{
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: 500;
    color: #00413D;
    width: 304px;
    margin-bottom: 10px;
    line-height: 35px;
}

.recent_project .card-body p{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413d;
    width: 289px;
    line-height: 26px;
    margin-bottom: 24px;
}

.recent_project .card-body .view_case i{
  
  padding-left: 6px;
}

.recent_project .card-body .view_case a{
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #00413D;
}

/* =====================================================
recent project section end here
======================================================== */

/* =====================================================
portfolio section start here
======================================================== */
.portfolio_section{
 padding-bottom: 142px;
}

.portfolio_section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 24px;
    margin-bottom: 44px;
    
    
   
}

.portfolio_section ul li{
    font-family: "Vollkorn", serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    cursor: pointer;
    position: relative;
    
}

.portfolio_section ul li::after {
	width: 0;
	height: 2px;
	background: #E5745D;
	position: absolute;
	top: 101%;
	left: 0%;
	content: "";
    transition: 0.4s;
}

.portfolio_section ul li:hover::after{
  width: 100%;
}


.portfolio_section .card{
    width: 100%;
    height: 520px;
    background: #C4C4C4;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

.portfolio_section .card .card-body{
    background: #00413D;
    margin-top: 420px;
    
    
}

.portfolio_section .card .card-body .card-title{
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 22px;
    
}

.portfolio_section .card .card-body .card-text{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    
}

.portfolio_section .card .portfolio_icon{
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    right:30px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s;
}

.portfolio_section .card .portfolio_icon i{
    color: #E5745D;
    font-size: 16px;
}

.portfolio_section .card:hover{
 background: rgba(0, 65, 61,0.25);
}

.portfolio_section .card:hover .portfolio_icon{
  opacity: 1;
}









/* =====================================================
portfolio section end here
======================================================== */

/* =====================================================
feedback section start here
======================================================== */
.test{
    background: #F9F4F1;
}

.test .title{
    padding-top: 121px;
}

.test .row .detail_info{
    width: 100%;
    background: #FFFFFF;
    margin-top: 40px;
    border-top: 10px solid #E5745D;
    margin-bottom: 30px;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
}

.test .row .detail_info p{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    width: 476px;
    padding: 30px 40px;
    
}

.test .test_box{
    position: relative;
   
}

.test .vetor_image img {
	position: absolute;
	top: 169px;
	left: 34px;
    z-index: 0;
}

.test .box{
    align-items: center;
    gap: 0 20px;
    margin-bottom: 98px;
    padding: 26px 60px;
}

.test .box .client_review img{
    width: 100%;
}

.test .box .client_review h4{
    font-family: "Vollkorn", serif;
    font-size: 20px;
    font-weight: 600;
    color: #00413D;
}

.test .box .client_review p{
    font-family: "Jost", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #00413D;
}

.test .box .client_review ul{
    display: flex;
    color:#FF9F3F;
}

.test .box1{
    padding-left: 340px;
}

.dot_image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 72px;
}

 

 


/* =====================================================
feedback section end here
======================================================== */


/* =====================================================
contact section start here
======================================================== */
.contact{
    padding-top: 113px;
    padding-bottom: 127px;
}

.contact .contact_img img{
    width:100%;
    height:586px ;
}

.contact .title h4{
    text-align: left;
    padding-left: 75px;
    margin-top: 60px;

}

.contact .title h2{
    text-align: left;
    width:100%;
    margin-bottom: 40px;
}

.contact .title h4::after {
	top: 10px;
	left: 0; 
	
}

.contact .title h4::before {
	top: 1%; 
	left: 7%;
   
	
}

.contact .common-btn{
margin-top: 50px;
}

.contact .common-btn a::after {
	left: -45px;
	
}

/* contactform */
.contact-form-container{
    width: 100%;
}

.contact .contact-form .form-group{
    display: flex;
    gap:0 70px;
    margin-bottom: 57px;
}

.contact .contact-form .form-group1 input{
    width: 92%;
}

.contact .contact-form input{
    width: 40%;
    border: none;
    background: none;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 65, 61,0.7);
    border-bottom: 2px solid rgba(0, 65, 61,0.10);
    outline: none;
    padding-bottom: 12px;
}

/* =====================================================
contact section end here
======================================================== */